<a href="https://colab.research.google.com/github/AriCrestani/Exercicios_Sirius/blob/main/ArielaCrestani_Exerc%C3%ADcio_1_Python_Fun%C3%A7%C3%B5es_Nativas_do_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Funções internas

Uma função é uma sequência de comandos que executa alguma tarefa. Veja alguns modelos:

In [ ]:
print(type(2))

# esse comando imprime o tipo de dados fornecido entre os (), nesse caso o numero 2 é entendido pelo código como um número inteiro (int).

<class 'int'>

In [ ]:
print(max('Alo mundo'))

# esse comando imprime o caracter máximo do elemento fornecido entre os (), nesse caso como é uma string, ou seja, um conunto de caracteres.
# ele irá buscar pela "letra máxima", ou seja, a letra mais "distante" do alfabeto, que nesse caso é o "u"

u

In [ ]:
print(min('Alo mundo'))

# esse comando busca pelo caracter mínimo, nesse caso ele volta vazio, pois a função entende que espaço vazio (entre as palavras)
# configuram o caracter mínimo dessa string

In [ ]:
print(max([1,2,4,55]))

# a função max() aplicada sobre uma lista numérica, irá retornar o maior número que existe ali

55

In [ ]:
print(min([1,2,4,55]))

# a função min() aplicada sobre uma lista numérica, irá retornar o menor número que existe ali

1

In [ ]:
print(len('Alô mundo'))

# a função len() retorna o tamanho do elemento, ou seja, a quantidade de caraceres ali presentes, incluindo o espaço, nesse caso.

9

# Funções de conversão de tipo

São funções internas que convertem valores de um tipo para para outro. Veja alguns exemplos (str,int,float):

In [ ]:
print(int('32'))

# essa função converte a string '32' em um número inteiro 32.

32

In [ ]:
print(int('Hello'))

# essa função não pode ser executada, pois ela tentará converter o elemento para numero inteiro
# por se tratar de uma string com letras, a função não consegue converter

ValueError: invalid literal for int() with base 10: 'Hello'

In [ ]:
print(int(5.777))

# a função int() transformará o elemento inputado em um núemro inteiro
# nesse caso o numero decimas 5.777 perde suas casa decimais e passa a ser considerado apenas como 5 (extrai apenas sua parte inteira)

5

In [ ]:
print(int('OLA'))

# mesmo caso da célula 10

# essa função não pode ser executada, pois ela tentará converter o elemento para numero inteiro
# por se tratar de uma string com letras, a função não consegue converter

ValueError: invalid literal for int() with base 10: 'OLA'

In [ ]:
print(int(-9.4))

# mesmo caso da célula 11

# a função int() transformará o elemento inputado em um núemro inteiro
# nesse caso o numero decimas -9.4 perde suas casa decimais e passa a ser considerado apenas como 9 (extrai apenas sua parte inteira)

-9

In [ ]:
 print(float(32))

 # a função float() transforma o elemento, nesse caso numérico, em número decimal

32.0

In [ ]:
 print(float('2.589'))

  # a função float() transforma o elemento, nesse caso string com dígitos numéricos, em número decimal

2.589

# Funções matemáticas

Python tem um módulo matemático que oferece a maioria das funções matemáticas comuns. Um módulo é um arquivo contendo definições e comandos em Python para serem usados em outros programas em Python. Há diversos módulos do Python que fazem parte da biblioteca padrão. A ideia é que você pode importar códigos escritos por outras pessoas. Vamos importar um desses módulos.

In [ ]:
import math as m

In [ ]:
# Para acessar uma das funções, é preciso especificar o nome do módulo e o nome da função, separados por um ponto.

pi = m.pi
print(pi)

3.141592653589793

In [ ]:
# math.comb(n, k) Retorna o número de maneiras de escolher k itens de n itens sem repetição e sem ordem.
# Por exemplo, considere um conjunto com seis elementos que serão tomados dois a dois. Observe que aqui n = 6 e k = 2 logo :

m.comb(6,2)

# é uma função para calcular quantas possiveis combinações não repetidas podem acontecer entre os elementos
# o primeiro numero especifica a quantidade de elementos que você quer considerar e o segundo número define o numero de elementos a ser agrupado
# nesse caso: em um conjunto de 6 elementos, quantas combinações diferentes posso fazer juntando de 2 em 2?

15

In [ ]:
 ## Quantas combinações na mega-sena---- k=6, n=60
 m.comb(60,6)

 # existem 60 numeros diferentes que podem ser escolhidos e temos que escolher de 6 em 6

50063860

In [ ]:
###Composição e chamada de funcoes:

x = m.sqrt(16)
y =  8*x
print(y)

# a função m.sqrt() extrai a raiz quadrada do número, nesse caso a raiz quadrada de 16 é 4, portanto x = 4
# a variavel y passa a ser 32, pois 8 x 4 = 32

32.0